<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yss.datamiddle.mapper.standardservice.ServiceParameterMapper">

	<resultMap type="com.yss.datamiddle.vo.standardservice.ServiceParameterDO" id="BeanResultMap">
		<id property="id" column="fid" />
		<result property="serviceId" column="fservice_id" />
		<result property="name" column="fname" />		
		<result property="type" column="ftype" />
		<result property="defaultValue" column="fdefault_value" />
		<result property="alias" column="falias" />
		<result property="operator" column="foperator" />
	</resultMap>
	<sql id="selectSql">
		SELECT FID,FSERVICE_ID,FNAME,FTYPE,FDEFAULT_VALUE,FALIAS,FOPERATOR
		FROM t_bi_service_parameter
	</sql>
	<select id="selectList" resultMap="BeanResultMap">
		<include refid="selectSql" />
		WHERE FSERVICE_ID = #{serviceId}
		ORDER BY FID
	</select>
	<insert id="insert" parameterType="com.yss.datamiddle.vo.standardservice.ServiceParameterDO">
		INSERT INTO t_bi_service_parameter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">FID,</if>
			<if test="serviceId != null  and serviceId != ''  ">FSERVICE_ID,</if>
			<if test="name != null  and name != ''  ">FNAME,</if>
			<if test="type != null  and type != ''  ">FTYPE,</if>
			<if test="operator != null  and operator != ''  ">FOPERATOR,</if>
			<if test="defaultValue != null  and defaultValue != ''  ">FDEFAULT_VALUE,</if>
			<if test="alias != null  and alias != ''  ">FALIAS,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="serviceId != null  and serviceId != ''  ">#{serviceId},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="type != null  and type != ''  ">#{type},</if>
			<if test="operator != null  and operator != ''  ">#{operator},</if>
			<if test="defaultValue != null  and defaultValue != ''  ">#{defaultValue},</if>
			<if test="alias != null  and alias != ''  ">#{alias},</if>
		</trim>
	</insert>
	<!-- <insert id="insertBatch" parameterType="java.util.List"> INSERT INTO 
		T_BI_SERVICE_PARAMETER(FID,FSERVICE_ID,FNAME,FTYPE,FDEFAULT_VALUE,FALIAS) 
		VALUES <foreach collection="list" item="item" index="index" separator=","> 
		( #{item.id}, #{item.serviceId}, #{item.name}, #{item.type}, #{item.defaultValue}, 
		#{item.alias} ) </foreach> </insert> -->
	<update id="update" parameterType="com.yss.datamiddle.vo.standardservice.ServiceParameterDO">
		UPDATE t_bi_service_parameter
		<trim prefix="SET" suffixOverrides=",">
			<if test="id != null  and id != ''  ">FID=#{id},</if>
			<if test="serviceId != null  and serviceId != ''  ">FSERVICE_ID=#{serviceId},</if>
			<if test="name != null  and name != ''  ">FNAME=#{name},</if>
			<if test="type != null  and type != ''  ">FTYPE=#{type},</if>
			<if test="operator != null  and operator != ''  ">FOPERATOR=#{operator},</if>
			<if test="defaultValue != null  and defaultValue != ''  ">FDEFAULT_VALUE#{defaultValue},</if>
			<if test="alias != null  and alias != ''  ">FALIAS=#{alias},</if>
		</trim>
		WHERE FID = #{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM t_bi_service_parameter WHERE FID IN
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	<delete id="deleteByServiceId" parameterType="String">
		DELETE FROM t_bi_service_parameter WHERE FSERVICE_ID IN
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>